<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syt.music.mapper.business.BehaviorMapper">

    <select id="selectMyLikeMusicCollectionByUserId" resultType="com.syt.model.music.dos.MusicCollection">
        select music_collection.id,
               music_collection.user_id,
               music_collection.name,
               music_collection.create_time,
               music_collection.update_time
        from music_collection
                 left join music_collection_state on music_collection_state.collection_id = music_collection.id
        where music_collection.user_id = #{userId}
          and music_collection_state.is_my_like = true
    </select>

    <select id="selectLikeMusicByCollectionId" resultType="com.syt.model.music.dos.MusicInfo">
        select music_info.id,
               music_info.name,
               music_info.singer,
               music_info.music_src,
               music_info.image_src,
               music_info.introduction,
               music_info.like_count,
               music_info.create_time
        from music_info
                 left join music_collect
                           on music_collect.music_id = music_info.id
                 left join music_collect_state
                           on music_collect_state.collect_id = music_collect.id
        where music_collect.collection_id = #{id}
          and music_collect_state.is_cancel = false
    </select>

    <update id="changeLikeState">
        update music_collect_state
        set is_cancel = !is_cancel, update_time = now()
        where collect_id = #{id};
    </update>

    <update id="addLikeCountById">
        update music_info
        set like_count = like_count + 1, update_time = now()
        where id = #{id};
    </update>

    <update id="subtractLikeCountById">
        update music_info
        set like_count = like_count - 1, update_time = now()
        where id = #{id};
    </update>

</mapper>