<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syt.music.mapper.business.IndexListMapper">

    <select id="selectLatestPublicMusic" resultType="com.syt.model.music.dos.MusicInfo">
        select music_info.id,
               music_info.name,
               music_info.singer,
               music_info.music_src,
               music_info.image_src,
               music_info.introduction,
               music_info.like_count,
               music_info.create_time
        from music_info
                 left join music_state
                           on music_state.music_id = music_info.id
        where music_state.is_public = true
        order by music_info.create_time desc
        limit #{limit} offset #{offset}
    </select>

    <select id="selectDayPublicMusic" resultType="com.syt.model.music.dos.MusicInfo">
        select music_info.id,
               music_info.name,
               music_info.singer,
               music_info.music_src,
               music_info.image_src,
               music_info.introduction,
               music_info.like_count,
               music_info.create_time
        from music_info
                 left join music_state
                           on music_state.music_id = music_info.id
        where music_state.is_public = true and music_info.create_time &gt; date_sub(now(),interval 1 day)
        order by music_info.create_time desc
        limit #{limit} offset #{offset}
    </select>

    <select id="selectMonthPublicMusic" resultType="com.syt.model.music.dos.MusicInfo">
        select music_info.id,
               music_info.name,
               music_info.singer,
               music_info.music_src,
               music_info.image_src,
               music_info.introduction,
               music_info.like_count,
               music_info.create_time
        from music_info
                 left join music_state
                           on music_state.music_id = music_info.id
        where music_state.is_public = true and music_info.create_time &gt; date_sub(now(),interval 1 month)
        order by music_info.create_time desc
        limit #{limit} offset #{offset}
    </select>

    <select id="selectYearPublicMusic" resultType="com.syt.model.music.dos.MusicInfo">
        select music_info.id,
               music_info.name,
               music_info.singer,
               music_info.music_src,
               music_info.image_src,
               music_info.introduction,
               music_info.like_count,
               music_info.create_time
        from music_info
                 left join music_state
                           on music_state.music_id = music_info.id
        where music_state.is_public = true and music_info.create_time &gt; date_sub(now(),interval 1 year)
        order by music_info.create_time desc
        limit #{limit} offset #{offset}
    </select>

    <select id="selectTotalPublicMusic" resultType="com.syt.model.music.dos.MusicInfo">
        select music_info.id,
               music_info.name,
               music_info.singer,
               music_info.music_src,
               music_info.image_src,
               music_info.introduction,
               music_info.like_count,
               music_info.create_time
        from music_info
                 left join music_state
                           on music_state.music_id = music_info.id
        where music_state.is_public = true
        order by music_info.create_time desc
        limit #{limit} offset #{offset}
    </select>

</mapper>